# deps
node_modules/
.pnp
.pnp.js

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# worker temp files
tmp/
apps/worker/tmp/

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.vscode/
.idea/

# test
coverage/

# Next.js generated
next-env.d.ts
